gunicorn==23.0.0
Authlib==1.3.1
bidict==0.23.1
blinker==1.8.2
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.0
facebook-sdk==3.1.0
Flask==3.0.3
Flask-OAuth==0.12
Flask-SocketIO==5.3.7
h11==0.14.0
httplib2==0.22.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.1
oauth2==1.9.0.post1
oauthlib==3.2.2
pandas==2.2.2
peep==3.1.2
pycparser==2.22
pyOpenSSL==24.2.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-engineio==4.9.1
python-git==2018.2.1
python-socketio==5.11.4
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
Send2Trash==1.8.3
setuptools==72.1.0
simple-websocket==1.0.0
six==1.16.0
tzdata==2024.1
urllib3==2.2.2
uuid==1.30
Werkzeug==3.0.3
wheel==0.44.0
wsproto==1.2.0
